/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $primary-color;
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(mix(#000, $primary-color, 40%), 0.5);
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    background-color: mix(#000, $primary-color, 10%);
    box-shadow: 0 4px 8px rgba(mix(#000, $primary-color, 40%), 0.5);
    top: -1px;
  }

  &:active {
    box-shadow: 0 1px 2px rgba(mix(#000, $primary-color, 40%), 0.5);
    top: 1px;
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: $gray !important;
    border: 1px solid $light-gray !important; /* override*/
    background-color: #fff;

    &:hover {
      color: #fff !important;
      border-color: $gray;
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: $info-color;
    box-shadow: 0 2px 4px rgba(mix(#000, $info-color, 40%), 0.5);

    &:hover {
      background-color: mix(#000, $info-color, 10%);
      box-shadow: 0 4px 8px rgba(mix(#000, $info-color, 40%), 0.5);
    }
  }

  /* warning */

  &--warning {
    background-color: $warning-color;
    box-shadow: 0 2px 4px rgba(mix(#000, $warning-color, 40%), 0.5);

    &:hover {
      background-color: mix(#000, $warning-color, 10%);
      box-shadow: 0 4px 8px rgba(mix(#000, $warning-color, 40%), 0.5);
    }
  }

  /* success */

  &--success {
    background-color: $success-color;
    box-shadow: 0 2px 4px rgba(mix(#000, $success-color, 40%), 0.5);

    &:hover {
      background-color: mix(#000, $success-color, 10%);
      box-shadow: 0 4px 8px rgba(mix(#000, $success-color, 40%), 0.5);
    }
  }

  /* danger */

  &--danger {
    background-color: $danger-color;
    box-shadow: 0 2px 4px rgba(mix(#000, $danger-color, 40%), 0.5);

    &:hover {
      background-color: mix(#000, $danger-color, 10%);
      box-shadow: 0 4px 8px rgba(mix(#000, $danger-color, 40%), 0.5);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-8;
    padding: 0.25em 0.6em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    &:active {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}